
<ons-page id="result">
        <script>
        </script>
        <ons-toolbar id="home-toolbar">
                    <div class="left">
                        <ons-back-button></ons-back-button>
                      </div>
                    <div class="center">About</div>
                  </ons-toolbar>
              <div style="text-align: center; position:fixed;
              height:100%;padding-top: 20px; padding-left:10%; padding-right:10%; background-color: cornsilk;">
      
                <br>
                  Created by TEAM DEMUSHI
                  <br>

                  John Chai, Jaime Pang, Isaac Ng

                  <br>
                  NUS High School of Math and Science
                  <br>
                  <br>
                  <img style="width: 40%" src="https://4.bp.blogspot.com/-lHgdLs8RUrw/WvQIB-hBH7I/AAAAAAABL_g/955ZLih8_hw-Ya63Cn6DHWCsSSGLAfiqgCLcBGAs/s400/trophy_school_boy.png">
                </div>

      
      </ons-page>

