
<ons-page id="result">
        <script>
        </script>
        <ons-toolbar id="home-toolbar">
                    <div class="left">
                        <ons-back-button></ons-back-button>
                      </div>
                    <div class="center">About</div>
                  </ons-toolbar>
              <div style="text-align: center; padding-top: 20px; padding-left:10%; padding-right:10%; background-color: cornsilk;">
      
                  <ons-card>
                          <div style="text-align: center;">
                          <img src="371935.png" alt="Your submitted image" style="width: 50%;margin:0;">
                          </div>
                          <div class="title">
                            About
                          </div>


                            
                        </ons-card>
                </div>
      
      </ons-page>

