<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<script>

  const openMenu = () => {
    document.querySelector('#menu').open();
  };

  const loadPage = (page) => {
  document.querySelector('#menu').close();
  document.querySelector('#navigator').bringPageTop(page, { animation: 'fade' });
  };
  </script>


    <ons-splitter>
        <!-- The side menu -->
        <ons-splitter-side id="menu" collapse>
            <ons-page>
              <ons-list>
                <ons-list-header>Analysis (picture)</ons-list-header>
                <ons-list-item onclick="loadPage('camera.html')" tappable>
                    Spiral Test
                </ons-list-item>
                <ons-list-header>Admin</ons-list-header>
                <ons-list-item onclick="loadPage('imagelog.html')" tappable>Image log</ons-list-item>
                <ons-list-item tappable onclick="loadPage('parkinsons.html')">About Parkinson's</ons-list-item>
                <ons-list-item tappable onclick="loadPage('about.html')">About the app</ons-list-item>
              </ons-list>
            </ons-page>
          </ons-splitter-side>
      
        <!-- Everything not in the side menu -->
        <ons-splitter-content>
          <ons-navigator id="navigator" page="home.html">

          </ons-navigator>
        </ons-splitter-content>
      </ons-splitter>

</body>
</html>